body {
	font-family: 'Open Sans',sans-serif;
	background: #e4e7ec;
}
.wrapper {
	width: 970px;
	margin: 0 auto;
}

/* some padding classes */
.psl {
	padding-left: 5px;
}
.psr {
	padding-right: 5px;
}
.pst {
	padding-top: 5px;
}
.psb {
	padding-bottom: 5px;
}

/* some margin classes */
.msl {
	margin-left: 5px;
}
.msr {
	margin-right: 5px;
}
.mst {
	margin-top: 5px;
}
.msb {
	margin-bottom: 5px;
}

/* display none */
.displayNone {
	display: none !important;
}

/* progress bar */
.progress-container {
	text-align: center;
	margin-top: 100px;
	color: #808080;
}
.progress {
	margin-top: 10px;
	color: #fff;
}
.progress-bar {
	background-color: #337ab7;
}

/* generated passphrase */
.passphrase {
	min-height: 100%;
	margin: 100px auto 0 auto;
	width: 81%;
}
.passphrase div {
	float: left;
}
.passphrase .word {
	color: #808080;
	font-size: 28px;
	text-align: center;
	display: block;
	width: 120px;
	margin-right: 10px;
}
.passphrase .word .word-color {
	display: block;
	height: 5px;
	background-color: #808080;
	margin-top: 10px;
	border-radius: 3px;
}
.passphrase .word .word-number {
	font-size: 11px;
	color: #808080;
}
.passphrase .word .word-dice {
	display: block;
	font-size: 21px;
	color: #808080;
}

/* change count buttons */
.changeCount {
	padding-top: 125px;
	text-align: center;
}