body {
	font-family: 'Open Sans',sans-serif;
	background: #e4e7ec;
}
.wrapper {
	width: 970px;
	margin: 0 auto;
}

/* some padding classes */
.psl {
	padding-left: 5px;
}
.psr {
	padding-right: 5px;
}
.pst {
	padding-top: 5px;
}
.psb {
	padding-bottom: 5px;
}

/* some margin classes */
.msl {
	margin-left: 5px;
}
.msr {
	margin-right: 5px;
}
.mst {
	margin-top: 5px;
}
.msb {
	margin-bottom: 5px;
}

/* display none */
.displayNone {
	display: none !important;
}

/* buttons */
.btn {
	color: #808080;
	background-color: #fff;
	border-color: #ccc;
	display: inline-block;
	padding: 6px 12px;
	font-size: 14px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid transparent;
	border-radius: 4px;
}

/* progress bar */
.progress-bar-container {
	text-align: center;
	margin-top: 100px;
	color: #808080;
}
.progress-bar-container p {
	margin-bottom: 10px;
}
.progress-bar-container div {
	height: 16px;
}
.progress-bar {
	color: #fff;
	background-color: #337ab7;
	width: 0%;
}

/* generated passwords */
.generated-words {
	min-height: 100%;
	margin: 50px auto 0 auto;
	width: 81%;
}
.generated-words div {
	float: left;
}
.generated-words .word {
	color: #808080;
	font-size: 28px;
	text-align: center;
	display: block;
	width: 120px;
	margin-right: 10px;
}
.generated-words .word .word-color {
	display: block;
	height: 5px;
	background-color: #808080;
	margin-top: 10px;
	border-radius: 3px;
}
.generated-words .word .word-number {
	font-size: 11px;
	color: #808080;
}
.generated-words .word .word-dice {
	display: block;
	font-size: 21px;
	color: #808080;
}

/* change count buttons */
.changeCount {
	padding-top: 125px;
	text-align: center;
}

/* app description */
.description p {
	color: #808080;
	text-align: center;
	width: 80%;
	margin: 15px auto 0 auto;
}